<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>About Us</h1>
      </div>

      <!--<small><i></i>Add alerts if form ok... success, else error.</i></small>
    <div class="alert alert-success"><strong><span class="glyphicon glyphicon-send"></span> Success! Message sent. (If form ok!)</strong></div>
      <div class="alert alert-danger"><span class="glyphicon glyphicon-alert"></span><strong> Error! Please check the inputs. (If form error!)</strong></div>-->



    </div>

  </div>
</div>

<div class="container">
  <div class="row">


    <div class="col-lg-6">

      <p class="lead">
          <strong>Hard Yards & Garden Maintenance</strong>,
          Is based in Adelaide.
      </p>

      <p class="lead">
          The business was established in "YEAR".
          We are passionate about creating impressive outdoor landscapes and exclusive living environments.
      </p>

      <p>
          We take Pride in our work maintaining lawns and gardens at an affordable price.
      </p>

      <p>
          In addition, Hard Yards & Garden ""
      </p>



    </div>

    <hr class="featurette-divider hidden-lg">

    <div class="col-lg-6">

      <img src="../assets/js/holder.js/560x320" alt="placehold.it/560x320">

    </div>
  </div>

</div>