<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Contact Us </h1>
      </div>

      <!--<small><i></i>Add alerts if form ok... success, else error.</i></small>
    -->



    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 pull-left">
      <form name="form" novalidate>
        <div class="row">
          <div class="col-lg-12">
            <div class="well well-sm">
              <strong><i class="glyphicon glyphicon-ok form-control-feedback"></i> Required Field</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-success" ng-show="error == false"><span class="glyphicon glyphicon-send"></span> Thank you, your message has been successfully sent.</div>
            <div class="alert alert-danger" ng-show="error == true"><span class="glyphicon glyphicon-remove"></span> Error! {{ errorReason }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="InputName">Your Name</label>
              <div class="input-group">
                <input type="text" class="form-control" name="name" id="InputName" placeholder="Enter Name" ng-model="submission.name" required>
                <span class="input-group-addon" ng-class="{success: !form.name.$invalid}"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="InputEmail">Your Email</label>
              <div class="input-group">
                <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Enter Email" ng-model="submission.email" required >
                <span class="input-group-addon" ng-class="{success: !form.email.$invalid}"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="InputMessage">Message</label>
              <div class="input-group">
                <textarea name="message" id="InputMessage" class="form-control" rows="5" ng-model="submission.message" required></textarea>
                <span class="input-group-addon" ng-class="{success: !form.message.$invalid}"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <button class="btn btn-primary pull-right" ng-click="submitForm(submission)" ng-disabled="form.$invalid">SUBMIT</button>
              <div recaptcha public-key="business.captcha" destroy="destroy"></div>

            </div>
          </div>
        </div>
      </form>
    </div>
    <hr class="featurette-divider hidden-lg">
    <div class="col-lg-5 col-md-push-1 pull-right">

      <h2>Contact Details</h2>
      <p class="lead"><?php echo $business["contactPitch"]; ?></p>
      <p class="lead">
        <strong>Phone: <?php echo $business["phone"]; ?></strong>
        <br>
        <!--Fax: <?php echo $business["fax"]; ?>-->
      </p>

      <h2>Business Hours</h2>
      <div>
      <?php
        foreach ($business["hours"] as $value) {
          echo '<p class="lead">' . $value . '</p>';
        }
      ?>
      </div>
      <p><?php echo $business["hoursFootnote"]; ?></p>

    </div>
  </div>

</div>
