
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <img src="../assets/img/banner-placeholder.png" class="img-responsive" alt="...">
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="quote-section">
         <em>--The Spill--  --The Areas.-- </em><strong>Contact Us.</strong>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="well">
        <!--<img data-src="holder.js/340x120" alt="...">-->
        <div class="caption">
          <p class="thumbnail-header text-center"><strong>About our business</strong></p>
          <p class="text-center"><em>This is descriptive text for the "about us" widget. Use Keywords that help get you found in Google!</em></p>
          <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Learn About Us</a> </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="well">
        <!--<img data-src="holder.js/340x120" alt="...">-->
        <div class="caption">
          <p class="thumbnail-header text-center"><strong>How can we help?</strong></p>
          <p class="text-center"><em>This is descriptive text for the "services" widget. Use Keywords that help get you found in Google!</em></p>
          <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">View All Services</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="well">
        <!--<img data-src="holder.js/340x120" alt="...">-->
        <div class="caption">
          <p class="thumbnail-header text-center"><strong>Get in touch today!</strong></p>
          <p class="text-center"><em>This is descriptive text for the "contact" widget. Use Keywords that help get you found in Google!</em></p>
          <p><a href="" class="btn btn-primary btn-lg btn-block" role="button">Contact Us Now</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>
