@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/forms.less";

/*
 AURA Site Builder - Admin CSS
 */


html, body {
  height: 100%;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  img {
    display: inline-block;

  }

  h1 {
    display: inline-block;
    vertical-align: text-top;
    margin: 0;
  }
}

nav {
  float: left;
  width: 224px;
  max-width: 224px;
  margin-left: 10px;
  margin-right: 10px;

  h1 {
    margin: 5px 0 0;
    border-bottom: 1px solid #eee;
    font-size: @font-size-large;
  }

  ul {
    margin-bottom: 0;
  }
}

main {
  float: left;
  margin-left: 10px;

  h1 {
    margin: 0 0 10px;
  }

}

form {
  div {

  }
}
