/*
 The top most banner containing the logo and business address
 */
header {
  background-color: @brand-primary;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;

  address {
    margin-bottom: 0;
  }

  h1 {
    margin: 0;
  }
}

/*
 The navigation bar
 */
.nav {
  font-size: @font-size-large;

}
.navbar {
  border-radius: 0;
  margin-bottom: 0;

  > div {
    border-top: 1px solid #333;
    border-bottom: 1px solid #2a2a2a;
  }
}
.navbar-collapse {
//  padding-left: 0;
}

footer {
  margin-top: 20px;
}

.bg-well {
  background-color: @well-bg;
}
